<wo:MDLook>
	<div class="row">
		<div class="col-lg-6 col-md-10 col-sm-12">
			<div class="card">
				<div class="card-header">
					<h3>🤖 Modulo</h3>
				</div>
				<table class="table table-sm mb-0">
					<tr><td>Started</td><td><wo:str value="$started" /></td></tr>
					<tr><td>Plain proxy port</td><td><wo:str value="$proxyPort" /></td></tr>
					<tr><td>Front-end</td><td><wo:str value="$frontendStatus" /></td></tr>
					<tr><td>Adaptor</td><td><wo:str value="$applicationCount" /></td></tr>
				</table>
			</div>
		</div>
	</div>
</wo:MDLook>
